/Verkkokauppa1/build/
/Kurssistatistiikka/.nb-gradle/
/Kurssistatistiikka/build/
/LoginCucumber/.nb-gradle/
/LoginCucumber/build/
/HelloCucumber/.nb-gradle/
/HelloCucumber/build/
/WebLogin/.nb-gradle/